body{
    margin:2%;
}

#mainContainer{
    margin: 0 auto;
    width:600px;
}
#js-assignRole{
    height:25px;
}

.userbox{
    margin-top:10px;
    margin-bottom:10px;
    border:1px solid black;
    border-radius: 10px;
    padding: 10px 10px 10px 20px;
}
