body{
    margin:2%;
}

#mainContainer{
    margin: 0 auto;
    width:550px;
}
.js-assignRole{
    height:25px;
}

select{
    height:25px;
}

#filter-button{
    height:26px;
}

.userbox:nth-child(odd){
    background: rgba(215, 223, 255, 0.2);
}
.userbox:nth-child(even){
    background: rgba(255, 196, 218, 0.2);
}

.userbox{
    margin-top:10px;
    margin-bottom:10px;
    border:1px solid black;
    border-radius: 10px;
    padding: 10px 10px 10px 20px;
}
